
<br>
<br><br><br><br><br><br>
<div  class="header">
<h1 style="color: red;" >Contact Us To Save A Life</h1>
<br>
</div>
<div class="row">
<div class="col-sm-6" >
<div class="contact">
		<span class="input-group-text cyan lighten-2" id="basic-text1" style="font-size: x-large;" ><i
			class="material-icons"> location_city </i>   Contact place : Hyderabad,India</span>
			<br>
			<span class="input-group-text cyan lighten-2" id="basic-text1" style="font-size: x-large;" ><i
				class="material-icons"> phone_callback </i>  Contact number:+91 7396456075</span>
				<br>
				<span class="input-group-text cyan lighten-2" id="basic-text1" style="font-size: x-large;" ><i
					class="material-icons"> mail </i> mailid:bloodinfo@gmail.com</span>        
	</div>	
</div>	
</div>
	
	




