<body class="back-image-1">
        <div class="container pt-30" style="margin-top:10px">
                <div class="row pt-30">
                    <div class="col-sm-7 mt-5 ml-5 mr-5 mb-5 mx-auto">
                  <h3>	<p class="text-style text-dark">Blood Donation Tips</p></h3>
                   <h4 class="text-dark text-left"><b>Eligibility Requirements</b></h4>
                        <p class="text-style text-dark">In order to donate you must meet the requirements listed below.</p>
                        <ul style= "list-style-type:circle;color:maroon">
                      <li> Please note that this is not a complete list; other eligibility factors will apply.</li> 
                        
                    <li> Be in good health and feeling well</li> 
                <li>  Be at least 18 years old</li> 
            <li>    Weigh at least 110 pounds</li> 
        <li>   Are not pregnant</li> 
    <li>      Possess a valid government-issued photo ID 
     <p>(Example: Driver’s License, Military ID, etc.)</p> </li>
                        </ul>
                      
                        <h4 class="text-style text-dark">Do NOT donate if any of the following apply to you:</h4>

                        <ul style= "list-style-type:circle;color:maroon">
                                <li> Have been diagnosed with HIV/AIDS,
                                   <p>Hepatitis B, or Hepatitis C</p></li> 
                                  
                              <li> Have ever used needles to take drugs, 
                                <p>steroids, or anything not prescribed by your doctor</p></li> 
                          <li> Have had syphilis or gonorrhea in the past 12 months</li> 
                      <li> alcohol consumption</li> 
                      <li>Do not Donate if you’ve had a body piercing or tattoo done within the last 12 months.</li>
                    <li>Do not Donate if you have an infection for which you are currently taking antibiotics.</li>
                    </ul>
                  </div>
                  <br>
                  <div class="col-sm-5 mt-5 ml-5 mr-5 mb-5 mx-auto">
                    
                    <h2 class="center-align text-style text-light"><b></b></h2>
                    
              </div>
                </div>
            </div>
</body>



