<div class="container pt-30" style="margin-top:10px">
        <div class="row pt-30">
                    <div class="col-sm-6 mt-3 ml-5 mr-5 mb-5 mx-auto">
                            <h2 class="center-align text-style">Do's and dont's of donating blood</h2>
                                      <div class="card mt-5 mb-5 ml-5 mr-5">
                                          <ul>
                                              <br>
                                              <li type="square">Eat iron-rich foods starting a week or two before you donate. These include red meat, eggs, whole grains, and dark green vegetables like spinach. Get additional vitamin C to help in iron absorption.</li>
                                              <br>
                                              <li type="square">Eat a healthy, low-fat meal 4 or more hours before you donate</li>
                                              <br>
                                              <li type="square">Take plenty of fluids not only on the day of your donation, but also on the day before and the day after. This will keep you from becoming dehydrated</li>
                                              <br>
                                              <li type="square">Do drink plenty of fluids one day before, the day of and one day after your donation.</li>
                                              <br>
                                              <li type="square">Do not smoke immediately before or within one hour after your donation to avoid light-headedness.</li>
                                              <br>
                                              <li type="square">Do not Donate if you’ve had a body piercing or tattoo done within the last 12 months.</li>                                              
                                          <br>
                                          <li type="square">Donot Donate if you have an infection for which you are currently taking antibiotics.</li>
                                          
                                            </ul>
                          </div>
                            </div>
                         
                            <div class="col-sm-6 mt-5 ml-4 mr-4 mb-5 mx-auto">
                                <img class="image-size-3" src="https://www.quotemaster.org/images/7f/7fa9db2d4a1a6fd0bd8fb8cfdddea9b3.jpeg">
                            
                          </div>
                        </div>
                            </div>
                         